* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  height: 100vh;
  padding: 10px;
  background-color: #ccc;
}

.header,
.footer {
  grid-column: span 2;
  background: red;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main {
  background: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.aside,
.section {
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
