* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "main section"
    "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 10px;
  height: 100vh;
  padding: 10px;
  background-color: #ccc;
}

.header {
  grid-area: header;
  background: #1a1d2e;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main {
  grid-area: main;
  background: #1a1d2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.aside {
  grid-area: aside;
  background: #1a1d2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.section {
  grid-area: section;
  background: #1a1d2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.footer {
  grid-area: footer;
  background: #1a1d2e;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
